@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-Black: hsl(0, 0%, 0%);
  --color-Gray-500: hsl(0, 0%, 48%);
  --color-Green-400: hsl(176, 50%, 47%);
  --color-Green-700: hsl(176, 72%, 28%);
}
body {
  font-family: "Commissioner", sans-serif;
  font-size: 1em;
  background-color: hsl(0, 17%, 95%);
  width: 100vw;
  min-height: 100vh;
}
p {
  color: hsl(0, 0%, 48%);
}
