@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-Gold-500: hsl(39, 89%, 49%);
  --color-Gold-600: hsl(28, 76%, 44%);

  --color-Blue-500: hsl(230, 89%, 62%);
  --color-Blue-700: hsl(229, 64%, 46%); /* also score text */

  --color-Red-600: hsl(349, 71%, 52%);
  --color-Red-800: hsl(347, 75%, 35%);

  --color-Purple-600: hsl(261, 73%, 60%);
  --color-Purple-700: hsl(261, 51%, 44%);

  --color-Light-Blue-400: hsl(189, 59%, 53%);
  --color-Light-Blue-500: hsl(194, 58%, 42%);

  --color-Navy-900: hsl(229, 25%, 31%); /* dark text */
  --color-Gray-600: hsl(246, 11%, 37%); /* header outline */

  --color-Radial-Gradient: radial-gradient(
    circle,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 48%, 15%) 100%
  );
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  background: var(--color-Radial-Gradient);
}
