@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  font-family: "Josefin Sans", serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bgimg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}
.imgs * {
    min-width: 100vw;
    height: 100%;
    background-position: center;
}
header {
    width: 22em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-top: 3em;
}
h1 {
    color: white;
    font-weight: 700;
}
.light-mode {
    display: none;
    width: 1.2em;
    cursor: pointer;
}
.dark-mode {
    width: 1.2em;
    cursor: pointer;
    display: block;
}
.input {
    margin-top: 2em;
    width: 21em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
    border-radius: 0.3em;
}
input[type="text"] {
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.task_filter {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}