@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
:root {
  --Lime: hsla(61, 70%, 52%, 0.158);
  --LimeBorder: hsl(61, 70%, 52%);
}
label:has(input:checked) {
  background-color: var(--Lime);
}
input:checked {
  border: 2px solid var(--Lime);
  background-color: var(--LimeBorder);
  appearance: none;
  content: "";
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
